/* Main HTML Declarations */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Lato&display=swap');

body {
    background-color: #F0EDEE;
    font-size: 24px;
    font-family: Lato, sans-serif;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.4;
}

button {
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 24px;
    color: #F0EDEE;
}

button.normal {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	outline: inherit;
}

/* Header and footer declarations */

header, footer {
    display: flex;
    background-color: #223D6A;
    color: whitesmoke;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    justify-content: space-around;
}

.logo {
    font-family:'Playfair Display', sans-serif;
    font-size: 32px;
    letter-spacing: 0.04rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    min-width: 40vw;
}

.menu:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* CSS for Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(#eaf3f9, #e0edf4);
}

.main-text {
    font-size: 56px;
    max-width: 80vw;
    text-align: center;
    margin: 0;
}

.subtext {
    margin: 10px 96px 0px;
    text-align: center;
    font-size: 24px;
    max-width: 40vw;
    font-weight: bold;
    color: #5a6473;
}


.cta {
    background-color: #223D6A;
    padding: 12px 30px;
    width: 240px;
    font: whitesmoke;
    border-radius: 3.40282e+38px;
    margin-top: 50px;
    box-shadow: 1px 1px 6px #264272;
}

/*  CSS for Personalised Jobs Section */

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    font-weight: bold;
}

.section-heading {
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.grid {
    overflow: auto;
    display: grid;
    width: 31vw;
    grid-template: 10vw 10vw 10vw / 10vw 10vw 10vw;
    gap: 0.2vw;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background: whitesmoke;
    text-align: center;
    color: inherit;
    padding: 12px;
}

.icon {
    padding: 10px;
}

.box > p {
    margin: 0px;
    font-size: 1rem;
}

.box:hover {
    color: #f5f5f5;
    background-color: #223D6A;
    transition: 0.5s;
}



/* MEDIA QUERIES */

@media (max-width: 640px) {
    .main-text {
        font-size: 32px;
    }
    .subtext {
        font-size: 18px;
    }    
}

@media (max-width: 1024px) {
    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .grid {
        width: 50vw;
        grid-template: 16vw 16vw 16vw / 16vw 16vw 16vw;
        gap: 0.5vw;
    }
}